.menu-icon {
	display: none;
}

// tablet
@media screen and ( max-width: 1024px ) {
	nav {
		display: none;
		
		ul.menu {
			flex-direction: column;
		}
	}

	.logo-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.menu-icon {
		display: block;
		width: 50px;
		height: 50px;
		font-size: 25px;
		background: $bg-primary;
		border: 2px solid $bg-primary;
		cursor: pointer;
		// transition: $transition;

/* 		&:hover {
	background: $bg-white;
	border: 2px solid $bg-primary;
} */
	}

	.post {
		margin-top: 10px;
	}

}


// mobile
@media screen and ( max-width: 768px ) {
	.button-box .button {
		margin-bottom: 20px;
	}
}

// mobile
@media screen and ( max-width: 480px ) {
	
	.header {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.header__title {
		font-size: 45px;
	}
	.header__text {
		margin-bottom: 50px;
	}
	.header .button {
		margin-bottom: 15px;
	}

	.about {
		padding-top: 80px;
		padding-bottom: 30px;
	}
	.about__text {
		margin-bottom: 50px;
	}

	.services {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.portfolio {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.portfolio .button {
		margin-bottom: 20px;
	}

	.pricing {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.team {
		padding-top: 80px;
		padding-bottom: 80px;
	}


	.order-left > div:first-child {
		order: 1;
	}
	.order-left > div:last-child {
		order: 2;
	}

	.order-right > div:first-child {
		order: 1;
	}
	.order-right > div:last-child {
		order: 2;
	}

	.post {
		margin-bottom: 30px;
	}
	.button-blog {
		margin-top: 30px;
	}

	.footer {
		padding-top: 80px;
		padding-bottom: 80px;
	}

}