$transition: 0.3s;

$bg-primary: #00897b;
$bg-primary-light: #e4fdf9;
$bg-secondary: #3949ab;
$bg-white: white;
$bg-snow: #f0f0f0;
$bg-silver: silver;
$bg-dark: #212121;
$bg-black: black;

$color-primary: #00897b;
$color-white: white;
$color-snow: #f0f0f0;
$color-gray: #868686;
$color-dark: #212121;
$color-black: black;
// $color-navy: steelblue;